<main class="contenedor nosotros">
    <h2 class="heading">Nosotros</h2>
    <div class="contenido">
        <img src="../../../assets/img/nosotros.jpg" alt="imagen sobre nosotros">
        <div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Minus aspernatur nemo blanditiis laborum quae et dolores. Eos beatae deserunt animi officiis ullam, 
                ipsam perspiciatis maxime, nesciunt, magnam accusantium exercitationem pariatur.
            </p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Minus aspernatur nemo blanditiis laborum quae et dolores. Eos beatae deserunt animi officiis ullam, 
                ipsam perspiciatis maxime, nesciunt, magnam accusantium exercitationem pariatur.
            </p>
        </div>
    </div>
</main>