<nav class="navegacion">
    <a [routerLink]="['/']" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact:true}">Inicio</a>
    <a [routerLink]="['/nosotros']" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact:true}">Nosotros</a>
    <a [routerLink]="['/tienda']" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact:true}" >Tienda</a>
    <a [routerLink]="['/blog']" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact:true}" >Blog</a>
    <a [routerLink]="['/car']" >
        <img src="../../../assets/img/carrito.png" alt="carrito de compras">
    </a>
</nav>